<app-navbar></app-navbar>

<h1>FLOWER AND GIFT DELIVERY</h1>
<div class="container">

<p>©SSVK is proud to bring you a selection of online gift boxes and silk flower crowns which can be ordered nationwide. </p>
<p>We source our luxury nationwide gift box ingredients locally to support locally created and produced goods around South Africa. Our bespoke gift boxes include a wide variety of high-quality products, all carefully packaged to bring love and joy to our customers</p>
<p>The Fabulous Flowers nationwide gift box range includes beauty products, tea and biscuit hampers, wine and savoury snacks, health products and more! Shop nationwide with Fabulous Flowers.</p>
<p>Our nationwide products are delivered by courier and may take between 3 to 5 working days depending on location. </p>
<img src="https://cdn.shopify.com/s/files/1/0717/1599/products/CalmandPeacefulGiftBox_FabulousFlowers_800x.jpg?v=1651677914" alt="">
</div>