<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-lg-4 pt-3" *ngIf="product">
          <div class="card">
            <img src={{product.image}} alt="" >

            <div class="card-body">
              <h1>{{product.name}}</h1>
              <p>R{{product.price}}</p>
              <p>{{product.description}}</p>
        
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  
                  <button type="button" class="btn btn-sm btn-outline-secondary vc2" (click)="addToCart(product)">Add to cart</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
 </div>