<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light
  ">
    <div class="container mx-5">
      <a class="navbar-brand">SSVK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav m-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
            <a class="nav-link active" aria-current="page" routerLink="/">About us</a>
            <a class="nav-link active" aria-current="page" routerLink="">Login</a>
            <a class="nav-link active" aria-current="page" routerLink="/register">Register</a>
          </li>
        </ul>
        <button type="button" routerLink="/cart" class="btn btn-sm btn-outline-secondary vc2">
          <i class="fa fa-cart-plus" style="color: #fff;" aria-hidden="true"></i>
          <div class="badge badge-danger">0</div>
        </button>
      </div>
    </div>
  </nav>
</header>
